/* Header *****************************************************/

.header .container {
  padding: 3rem 4.8rem;
  background-color: #fdf2e9;
  /* Display */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

.logo {
  height: 2.2rem;
}

.logo img {
  height: 100%;
}

/* Navbar */

.main-nav-list {
  list-style: none;
  font-weight: 500;
  font-size: 1.8rem;

  /* Display */
  display: flex;
  gap: 3.2rem;
}

/* Nav Links */

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/* Last Link - "Try for free" CTA */

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* Mobile Navbar */

.mobile-nav-button {
  border: none;
  background: none;
  cursor: pointer;
  /* Display */
  display: none;
}

.mobile-nav-icon {
  width: 4.8rem;
  height: 4.8rem;
}

.mobile-nav-icon[name="close-outline"] {
  /* Display */
  display: none;
}

/*  Section 1 - Hero ***********************************************/

.section-hero {
  margin-top: 2rem;
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.section-hero .container {
  max-width: 130rem;
  margin: 0 auto;
  background-color: #fdf2e9;
  padding: 0 3rem;
  /* Display */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 9.6rem;
}

/* Hero Content Title */

.hero-content-title {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

/* Hero Content Description */

.hero-content-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.cta-buttons-in-hero {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 2rem;
}

/* Hero Content Button 1 */

.hero-content-btn-1:link,
.hero-content-btn-1:visited {
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
}

.hero-content-btn-1:hover,
.hero-content-btn-1:active {
  background-color: #cf711f;
}

/* Hero Content Button 2 */

.hero-content-btn-2:link,
.hero-content-btn-2:visited {
  background-color: #fff;
  color: #555;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
}

.hero-content-btn-2:hover,
.hero-content-btn-2:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

/* Hero Content -> Customers and No of Meals Delivered */

.customer-meals {
  margin-top: 8rem;
  /* Display */
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

/* Hero Content -> Customer Meals -> Customer Images */

.customer-images {
  /* Display */
  display: flex;
}

.customer-images img {
  height: 4.8rem;
  border: 3px solid rgb(249, 239, 226);
  border-radius: 50%;
  margin-right: -1.6rem;
}

/* 
Removing negative margin on last customer image becasue
it is overcoming gap between customer images and meals delivered
text flex items
*/

.customer-images img:last-child {
  margin-right: 0;
}

/* Hero Content -> Customer Meals -> Customer Images Text */

.no-of-meals-delivered {
  font-size: 1.8rem;
  font-weight: 600;
}

.no-of-meals-delivered span {
  color: #cf711f;
  font-weight: 800;
}

/* Hero Image */

.hero-image {
  width: 100%;
}

/* Section 2 - As Featured In *************************************/

.section-featured-in {
  margin-top: 4.8rem;
}

.section-featured-in .container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
}

.featured-title {
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  color: #888;
  margin-bottom: 2.4rem;
}

.featured-companies-logos {
  display: flex;
  justify-content: space-between;
}

.featured-companies-logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* Section 3 - How it Works ************************************/

.section-how-it-works {
  margin-top: 9.6rem;
}

/* container-1 */

.section-how-it-works .container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
}

.how-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.how-subtitle {
  margin-top: 1.6rem;
  font-size: 4.4rem;
  font-weight: 700;
}

/* container-2 */

.section-how-it-works .container.steps-on-app {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9.6rem;
  padding: 0 3rem;
  /* Display */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.step-no {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
}

.step-title {
  margin-top: 1.2rem;
  font-size: 3rem;
  font-weight: 700;
  color: #333;
}

.step-description {
  margin-top: 3.2rem;
  font-size: 1.8rem;
  line-height: 1.8;
}

/* Step Image */

.step-1-image img,
.step-2-image img,
.step-3-image img {
  width: 35%;
  /*
  1. Centering this Image inside its div box using margin auto to left
  and right of the image and making image a block element.
  2. Margin auto does not work on inline and inline-block elements.
  3. Other way to center this image inside its div is to make the div
  flexbox and justify its flex item to center(this method is not used here).
  */
  display: block;
  margin: 0 auto;
}

/* Section 5 - Meals */

.section-meals {
  margin-top: 19.2rem;
}

/* Container 1 */
.section-meals .container.about-omnifood-meals {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
}

.section-meals .container.about-omnifood-meals .title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.section-meals .container.about-omnifood-meals .subtitle {
  margin-top: 1.6rem;
  text-align: center;
  font-size: 4.4rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

/* Container 2 */

.section-meals .container.meal-cards {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9.6rem;
  padding: 0 3rem;
  /* Display */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.4rem;
}

.meal-card-1,
.meal-card-2 {
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
  border-radius: 11px;
}

.about-meal-text {
  padding: 3.2rem 4.8rem;
}

.meal-tags {
  /* Display */
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
}

.meal-tag-1,
.meal-tag-2,
.meal-tag-3 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  padding: 0.4rem 0.8rem;
}

.meal-tag-1 {
  background-color: #51cf66;
}
.meal-tag-2 {
  background-color: #ffd43b;
}
.meal-tag-3 {
  background-color: rgb(242, 150, 150);
}

.meal-title {
  margin-top: 1.2rem;
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
}

.meal-info-list {
  margin-top: 3.2rem;
  list-style: none;
  font-size: 1.8rem;
}

.meal-info-list li {
  margin-bottom: 2rem;
  /* Display */
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-info-list li:last-child {
  margin-bottom: 0;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-image img {
  width: 100%;
}

/* Card 3 about Diet */

.diet-title {
  font-size: 3.2rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.diet-list {
  margin-top: 3.2rem;
  list-style: none;
  font-size: 1.8rem;
  /* Display */
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.diet-list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.diet-list li {
  /* Display */
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

/* Container 3 */

.section-meals .container.recipes {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
  /* using text align center on parent container of recipes link
  because text align property does not work on inline and inline-block
  element */
  text-align: center;
  margin-top: 4.8rem;
}

.all-recipes-link:link,
.all-recipes-link:visited {
  font-size: 1.8rem;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
}

.all-recipes-link:hover,
.all-recipes-link:active {
  font-size: 1.8rem;
  border-bottom: 1px solid transparent;
}

/* Section 5 - Testimonials ***************************************/

.section-testimonials {
  margin-top: 9.6rem;
}

.section-testimonials .container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #fdf2e9;

  /* padding: 9.6rem 1.6rem 9.6rem 10.6rem; */
  padding: 9.6rem 3rem;
  /* Display */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 9.6rem;
  align-items: center;
}

.testimonials .title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.testimonials .subtitle {
  margin-top: 1.6rem;
  font-size: 4.4rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.testimonials .reviews {
  margin-top: 9.6rem;
  /* Display */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonials .reviews img {
  width: 6.4rem;
  border-radius: 50%;
}

.testimonials .reviews blockquote {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  line-height: 1.8;
}

.testimonials .reviews figcaption {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  color: #6f6f6f;
}

.section-testimonials .container .gallery {
  /* Display */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.gallery img {
  width: 100%;
}

/* Section 6 - Pricing ******************************************/

.section-pricing {
  margin-top: 9.6rem;
}

.section-pricing .container.about-omnifood-pricing {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
}

/* Container 1 */

.pricing-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.pricing-subtitle {
  margin-top: 1.6rem;
  font-size: 4.4rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

/* Container 2 */

.section-pricing .container.pricing-cards {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9.6rem;
  padding: 0 3rem;
  /* Display */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
}

.pricing-card-1,
.pricing-card-2 {
  width: 75%;
}

.pricing-card-1 {
  justify-self: flex-end;
  border: 2px solid rgb(255, 234, 234);
  border-radius: 1rem;
  padding: 4.6rem;
  /* Display */
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.pricing-card-2 {
  border: 2px solid brown;
  border-radius: 1rem;
  padding: 4.6rem;
  background-color: #fdf2e9;
  /* Display */
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.pricing-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

.pricing-value {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
}

.dollar-sign {
  font-size: 3rem;
  font-weight: 500;
  margin-right: -1rem;
}

.pricing-description {
  margin-top: -1.6rem;
  font-size: 1.6rem;
  color: #6f6f6f;
  text-align: center;
}

.pricing-offers-list {
  align-self: center;
  /* This margin will add up with the gap defined in its flex
  container(Card 1) */
  margin-top: 1.6rem;
  list-style: none;
  font-size: 1.8rem;
  /* Display */
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.pricing-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.pricing-offers-list li {
  /* Display */
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.pricing-cta-link:link,
.pricing-cta-link:visited {
  display: block;
  text-align: center;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
}

.pricing-cta-link:hover,
.pricing-cta-link:active {
  background-color: #cf711f;
}

/* Container 3 */
.section-pricing .container.about-taxes {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
  margin-top: 4.8rem;
}

.section-pricing .container.about-prices p {
  text-align: center;
  font-size: 1.6rem;
}

/* Container 4 */

.section-pricing .container.features {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9.6rem;
  padding: 0 3rem;

  /* Display */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 6.4rem;
}

.feature-1,
.feature-2,
.feature-3,
.feature-4 {
  /* Display */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.feature-icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #e67e22;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
}

.feature-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* Section 7 - Sign Up Form ***********************************/

.section-sign-up {
  margin-top: 14.4rem;
}

.section-sign-up .container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
  /* Display */
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.cta {
  background-color: #eb974c;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  padding: 4.8rem 6.4rem;
  /* Display */
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.cta-title {
  font-size: 4rem;
  color: black;
  letter-spacing: 0.1px;
}

.cta-description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: black;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.4rem;
  column-gap: 3.2rem;
}

.cta-form label {
  display: block;
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
}

.cta-form input,
select {
  margin-top: 1.2rem;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  background-color: #fdf2e9;
  border: none;
  border-radius: 9px;
}

.cta-form .sign-up-btn {
  align-self: flex-end;
  font-size: 2rem;
  color: #fdf2e9;
  background-color: #45260a;
  padding: 1.2rem;
  border-radius: 9px;
  cursor: pointer;
  border: none;
}

.cta-form .sign-up-btn:hover {
  background-color: white;
  color: #45260a;
}

/* Showing this image on desktop */
.sign-up-img .cta-desktop-image {
  width: 100%;
  height: 100%;
}

.sign-up-img .cta-mobile-image {
  width: 100%;
  height: 100%;
  /*
  Not displaying this image for desktop version of website.
  This will be shown on mobile version at 576px media query.
  */
  display: none;
}

/* Footer *******************************************************/

.footer {
  margin-top: 12.8rem;
  border-top: 1px solid bisque;
  padding: 12.8rem 0;
}

.footer .container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
  /* Display */
  display: grid;
  grid-template-columns: repeat(2, 1.5fr) repeat(3, 1fr);
  column-gap: 6.4rem;
}

.logos,
.contact-us,
.account,
.company,
.resources {
  /* Display */
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.logos .social-links {
  /* Display */
  display: flex;
  gap: 2.4rem;
}

.logos .social-links .social-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.footer a:link,
.footer a:visited {
  color: #767676;
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
}

.footer a:hover,
.footer a:active {
  color: #555;
}

.copyright-info {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
}

.footer .title {
  font-size: 1.8rem;
  font-weight: 500;
}

.contact-us address {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer ul {
  list-style: none;
  /* Display */
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
